<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head') -%>
    <link rel="stylesheet" href="/styles/profile.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <div class="profile">
            <div class="profile-block">
                <div class="picture-block">
                    <img src="/images/avatar.png" alt="" class="picture">
                    <p><%= user.name %></p>
                </div>
                <div class="data">
                    <p class="block-title">Contacts</p>
                    <div class="data-block">
                        <p class="title">Phone Number</p>
                        <div>
                            <p>+91 49652845732</p>
                        </div>
                    </div>
                    <div class="data-block">
                        <p class="title">Email</p>
                        <div>
                            <p><%= user.email %></p>
                        </div>
                    </div>
                </div>
                <div class="data">
                    <p class="block-title">About <%= user.name %></p>
                    <div class="data-block">
                        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <%- include('blocks/footer') -%>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>