<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head') -%>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <div class="search">
            <span class="catalog">
                <p>Catalog</p>
                <ion-icon name="chevron-down-outline"></ion-icon>
            </span>
            <div class="search-input">
                <input type="text" name="" id="" placeholder="Search for an item">
                <span><ion-icon name="search-outline"></ion-icon></span>
            </div>
        </div>
        <div class="items-list">
            <% if(items.length) { %>
                <% items.forEach(({id,name,description,location,price,userName,userEmail,createdAt}) => { %>
                    <a href="/posts/<%= id %>">
                        <div class="item">
                            <% image = itemImages.find(image => image.itemId == id) %>
                            <img src="data:image/<%=image.img.contentType %>;base64,<%=image.img.data.toString('base64') %>" alt="">
                            <div class="item-info">
                                <p class="name"><%= name %></p>
                                <p class="time"><%= location %> - <%= createdAt.toLocaleDateString() %></p>
                            </div>
                            <div class="item-price">
                                <p class="price"><%= price %> $</p>
                                <ion-icon name="heart-outline"></ion-icon>
                            </div>
                        </div>
                    </a>
                <% }) %>
            <% } %>
        </div>
    </main>
    <%- include('blocks/footer') -%>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>